@use '../abstracts/mixins' as mixins;

@mixin switch {
  @include mixins.host-button-reset;

  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: var(--basic-switcher-container-gap);
  row-gap: var(--basic-switcher-text-gap);
  padding: 0;
  color: var(--text-darkest);
  font-family: var(--desktop-body-s-font);
  font-size: var(--desktop-body-s-size);
  line-height: var(--desktop-body-s-line-height);
  cursor: pointer;
  user-select: none;
  opacity: 1;

  .tk-toggle-control {
    @include mixins.host-button-reset;

    display: inline-flex;
    align-items: center;
    padding: 0;
    cursor: inherit;

    &:disabled {
      opacity: 1;
    }
  }

  .tk-toggle-input-container {
    position: relative;
    flex-shrink: 0;
    box-sizing: border-box;
    background: var(--background-light);
    border-radius: 30px;
    transition: background-color 0.3s ease;
    cursor: inherit;
  }

  .tk-toggle-thumb {
    position: absolute;
    top: 2px;
    left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-full);
    background: var(--background-lightest);
    box-shadow: var(--effect-1-default-base);
    transition:
      transform 0.3s ease,
      background-color 0.3s ease;
  }

  .tk-toggle-thumb-icon {
    display: none;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }

  .tk-toggle-thumb-icon svg {
    display: block;
    width: 100%;
    height: 100%;
  }

  &[data-hover]:not([data-disabled]):not([data-readonly]):not([data-checked]) {
    .tk-toggle-input-container {
      background: var(--background-sub-base);
    }
  }

  &[data-checked] {
    .tk-toggle-thumb-icon {
      display: flex;
    }
  }

  .tk-toggle-control:focus {
    outline: none;
  }

  &:not([data-disabled]) {
    &[data-variant='info'] {
      &[data-checked] {
        .tk-toggle-input-container {
          background-color: var(--states-info-base);
        }

        .tk-toggle-thumb-icon {
          color: var(--states-info-dark);
        }
      }

      &[data-hover][data-checked]:not([data-readonly]) {
        .tk-toggle-thumb {
          background-color: var(--states-info-lightest);
        }
      }
    }

    &[data-variant='success'] {
      &[data-checked] {
        .tk-toggle-input-container {
          background-color: var(--states-success-base);
        }

        .tk-toggle-thumb-icon {
          color: var(--states-success-dark);
        }
      }

      &[data-hover][data-checked]:not([data-readonly]) {
        .tk-toggle-thumb {
          background-color: var(--states-success-lightest);
        }
      }
    }

    .tk-toggle-control:focus-visible {
      .tk-toggle-input-container {
        outline: 2px solid var(--states-info-base);
        outline-offset: 2px;
      }
    }

    &[data-invalid] {
      .tk-toggle-input-container {
        border: 1px solid var(--states-danger-base);

        .tk-toggle-thumb {
          top: 1px;
          left: 1px;
        }
      }

      &[data-checked] {
        .tk-toggle-input-container {
          background-color: var(--states-danger-base);

          .tk-toggle-thumb {
            background: var(--background-lightest);
          }

          .tk-toggle-thumb-icon {
            color: var(--states-danger-base);
          }
        }
      }
    }
  }

  &[data-disabled] {
    cursor: not-allowed;
    color: var(--text-sub-base);

    .tk-toggle-input-container {
      border: 1px solid var(--border-light);
      background: var(--static-light);
    }

    .tk-toggle-thumb {
      top: 1px;
      left: 1px;
      background: var(--background-light);
      box-shadow: none;
    }

    .tk-toggle-thumb-icon {
      color: var(--icon-lightest);
    }
  }

  &[data-size='xlarge'] {
    .tk-toggle-input-container {
      width: 60px;
      height: 32px;
    }

    .tk-toggle-thumb {
      width: 28px;
      height: 28px;
    }

    .tk-toggle-thumb-icon {
      width: 20px;
      height: 20px;
      font-size: 20px;
    }

    &[data-checked] .tk-toggle-thumb {
      transform: translateX(28px);
    }
  }

  &[data-size='large'] {
    .tk-toggle-input-container {
      width: 52px;
      height: 28px;
    }

    .tk-toggle-thumb {
      width: 24px;
      height: 24px;
    }

    .tk-toggle-thumb-icon {
      width: 20px;
      height: 20px;
      font-size: 20px;
    }

    &[data-checked] .tk-toggle-thumb {
      transform: translateX(24px);
    }
  }

  &[data-size='base'] {
    .tk-toggle-input-container {
      width: 44px;
      height: 24px;
    }

    .tk-toggle-thumb {
      width: 20px;
      height: 20px;
    }

    .tk-toggle-thumb-icon {
      width: 16px;
      height: 16px;
      font-size: 16px;
    }

    &[data-checked] .tk-toggle-thumb {
      transform: translateX(20px);
    }
  }

  &[data-size='small'] {
    .tk-toggle-input-container {
      width: 36px;
      height: 20px;
    }

    .tk-toggle-thumb {
      width: 16px;
      height: 16px;
    }

    .tk-toggle-thumb-icon {
      width: 12px;
      height: 12px;
      font-size: 12px;
    }

    &[data-checked] .tk-toggle-thumb {
      transform: translateX(16px);
    }
  }

  &[data-size='xsmall'] {
    .tk-toggle-input-container {
      width: 28px;
      height: 16px;
    }

    .tk-toggle-thumb {
      width: 12px;
      height: 12px;
    }

    .tk-toggle-thumb-icon {
      width: 8px;
      height: 8px;
      font-size: 8px;
    }

    &[data-checked] .tk-toggle-thumb {
      transform: translateX(12px);
    }
  }
}
